<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind</title>
</head>
<body>
 <header>
  <div class="grid text-black">
    <!--Header-->
  <div class="flex flex-wrap md:flex-nowrap bg-darkblue-900 px-2 py-1 items-center">
    <div class="py-1 px-2 md:border border-gray-700 hover:border-white rounded"></div>
    <div class="flex mx-2 my-2 border border-transparent hover:border-white"></div>
    <form action="" clas="flex">
      <select name="" id="" class="hidden md:block p-2 text-xs text-gray-700 bg-gray-1 hover:bg-gray-300 rounded-tl rounded-bl border-r border-gray-500" option value="">Etapas</select>
    </form>
  </div>
  </div>
 </header>
</body>
</html>
